/* Estilização para os cabeçalhos da tabela */
table {
  margin-top: 2rem;
}

th {
  text-align: left;
  padding: 0.5rem;
  /* background-color: #f4f4f4;  Cor de fundo para o cabeçalho da tabela se quiser colocar*/
  border-bottom: 1px solid #ddd;  /* Linha de separação entre cabeçalho e corpo */
}

/* Estilização para as células do corpo da tabela */
td {
  text-align: left;
  padding: 0.5rem;  
  border-bottom: 1px solid #ddd;  /* Linha de separação entre as linhas */
}
