/* cliente_lobby.css */
.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.App-header {
    height: 12vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ADC737 30%, transparent 70%);
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img1{
    max-height: 4rem;
}
.logo_img2{
    max-height: 2.5rem;
}

.logo p {
    max-width: 5rem;
    text-align: left;
    border-left: #00383D solid;
    padding: .3rem;
    color: #00383D;
}

.area-login {
    display: flex;
    align-items: center;
}

.area-login img {
    max-height: 2.5rem;
    margin-right: 1rem;
}

.login-button {
    background-color: #4CAF50; /* Cor verde, ajuste conforme necessário */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.title-container {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
}

.title-container h1 {
    margin: 0;
}

.bottom-nav {
    background-color: #333; /* Cor de fundo da barra de navegação */
    color: white;
    padding: 1em 0;
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bottom-nav li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}

.bottom-nav li:hover {
    text-decoration: underline;
}

.hamburger-menu {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

main {
    height: 88vh;
}

.lobby-container {
    display: flex;
    justify-content: end;
}
  
.trapezoid {
    position: relative;
    right: 0;
    bottom: 0;
    width: 40%; /* Ajuste a largura conforme necessário */
    height: 100%; /* Ajuste a altura conforme necessário */
    background: linear-gradient(to top, black, #747474);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    color: white; /* Cor do texto */
    transform: skew(-20deg);
    overflow: hidden; 
}
  
.trapezoid h1 {
    font-size: 1.8rem; 
    margin-top: 0;
    color: #00383D;
}
  
.trapezoid p {
    transform: skew(20deg);
    max-width: 60%;
    margin: .5em;
    margin-top: 0;
    font-size: 3.5em;
    text-align: end;
}

.trapezoid img {
    max-height: 10em;
}

.trapezoid div {
    transform: skew(20deg);
    margin: 1em;
}

.trapezoid ul {
    transform: skew(20deg);
    list-style-type: none;
    align-self: self-start;
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #ADC737;
    text-decoration: underline;
}