.Main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* height: 88vh; */
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

table {
    width: 70vh;
    max-height: 70vh;
    overflow-y: auto;
}

table thead{
    color: darkgreen;
}