.Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 88vh;
}


.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 4vh;
    padding-left: 15vh;
    padding-right: 10vh;
    background: linear-gradient(to top, black, #747474);
    color: #ADC737;
}

table {
    margin-right: 10vh;
    width: 100vh;
    height: fit-content;
    max-height: 50vh; 
    overflow: auto;
}

select {
    border-bottom: #ADC737 .1rem solid;
    margin-bottom: 10vh;
    background-color: transparent;
}

table thead{
    color: #00383D;
    background-color: #ADC737;
}

label {
    align-self: flex-start;
}