/* logistica.css ou o arquivo CSS global */
.info-panels {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Centraliza verticalmente se houver altura suficiente no contêiner */
    height: 100%; /* Torna o contêiner do mesmo tamanho que a altura da janela */
    flex-wrap: wrap; /* Permite que os itens se ajustem conforme a largura da tela */
    padding: 0 10px; /* Espaçamento lateral para não tocar nas bordas da tela */
    margin-top: 5%;
}
