/* logistica.css*/
.info-panels {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Centraliza verticalmente se houver altura suficiente no contêiner */
    height: 100%; /* Torna o contêiner do mesmo tamanho que a altura da janela */
    flex-wrap: wrap; /* Permite que os itens se ajustem conforme a largura da tela */
    padding: 0 10px; /* Espaçamento lateral para não tocar nas bordas da tela */
    margin-top: 5%;
}

.cadastro_conjunto-trigger {
    margin-top: 5%; /* Mesma distância que os paineis estão da parte de cima */
    padding: 2vh 2vw; /* Usa viewport height e width para o padding */
    font-size: 1.1rem;
    background-color: #5F903F;
    color: white;
    border: none;
    border-radius: 4px;
}

.cadastro_conjunto-formulario{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajuste o número 3 conforme o número de colunas desejado */
    gap: 2%; /* Espaço entre as colunas */
    
}
