.App-header {
    height: 12vh;
    background-color: #ADC737;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo_img1{
    max-height: 4rem;
}
.logo_img2{
    max-height: 2.5rem;
    justify-self: center;
}


.menu_hamburger{
    border: none;
    outline: none;
}

.menu_hamburger:hover{
    background-color: transparent;
}
.menu_hamburger:focus{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}