.App-header {
    height: 12vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ADC737 30%, transparent 70%);
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo_img1{
    max-height: 4rem;
}
.logo_img2{
    max-height: 2.5rem;
    justify-self: center;
}


.menu_hamburger{
    border: none;
    outline: none;
}
