.p-6 {
    padding: 1.5rem;
}

.max-w-4xl {
    max-width: 64rem; /* 1024px */
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-8 {
    margin-bottom: 2rem;
    max-height: 500px; /* ou a altura que se ajuste bem ao seu layout */
    overflow-y: auto;  /* ativa a rolagem vertical se o conteúdo for maior que o container */
    overflow-x: auto;  /* ativa a rolagem horizontal se o conteúdo for maior que o container */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
}

.font-bold {
    font-weight: bold;
}

.border {
    border: 1px solid #ccc;
}

.rounded-lg {
    border-radius: 0.5rem;
}


